body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
}

.wrapper {
  display: grid;
  margin: 15px;
  align-items: center;
  justify-items: center;
}

.tariff {
  display: grid;
  gap: 40px;

  &-head {
    display: grid;
    justify-items: center;
    gap: 16px;

    &__title {
      font-family: Gilroy-Bold;
      font-size: 46px;
      line-height: 64px;
    }

    &__subtitle {
      font-family: Gilroy-Bold;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &-choise {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 0px 30px;
  }

  &-option {
    display: grid;
    margin-bottom: 24px;
    text-align: center;
    justify-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;

    &__title {
      display: grid;
      width: 100%;
      align-items: center;
      padding: 7px 0px;
      margin-bottom: 40px;
      font-family: Gilroy-Bold;
      font-size: 24px;
      line-height: 48px;
      color: blue;
      background-color: rgba(104, 94, 214, 0.05);
    }

    &__text {
      margin-bottom: 32px;
      font-family: Gilroy-Bold;
      font-size: 28px;
      line-height: 40px;
    }

    &__price {
      margin-bottom: 46px;
      font-family: Gilroy-Regular;
      font-size: 20px;
      line-height: 30px;
    }

    &__connect {
      padding: 15px 55px;
      margin-bottom: 50px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
      border-radius: 6px;
      border-width: 0px;
      color: white;
      background-color: blue;
    }
  }

  &__select {
    grid-column: 2;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .tariff {
    &__select {
      display: none;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    width: 688px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1110px;
  }
}
